<a href="https://colab.research.google.com/github/Ananya020720/Python-Programs/blob/main/Employee_Details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
employee_details =[]
num = int(input("Enter the number of Employees: "))

for i in range(1,num+1):
  temp = {}
  print(f"Enter Employee {i} Details")
  temp["id"] = int(input("Enter Employee ID: "))
  temp["name"] = input("Enter Employee Name: ")
  temp["age"] = int(input("Enter Employee Age: "))
  temp["dept"] = input("Enter Department: ")
  temp["salary"] = int(input("Enter Salary: "))
  employee_details.append(temp)

print("\n--- Employee Details ---")
print(f"{'ID':<10} {'NAME':<15} {'AGE':<5} {'DEPARTMENT':<15} {'SALARY':<10}")
print("-" * 60)

for emp in employee_details:
    print(f"{emp['id']:<10} {emp['name']:<15} {emp['age']:<5} {emp['dept']:<15} {emp['salary']:<10.2f}")

Enter the number of Employees: 3
Enter Employee 1 Details
Enter Employee ID: 100
Enter Employee Name: ABC
Enter Employee Age: 34
Enter Department: Sales
Enter Salary: 50000
Enter Employee 2 Details
Enter Employee ID: 105
Enter Employee Name: XYZ
Enter Employee Age: 23
Enter Department: Sales
Enter Salary: 25000
Enter Employee 3 Details
Enter Employee ID: 125
Enter Employee Name: EFG
Enter Employee Age: 40
Enter Department: Sales
Enter Salary: 75000

--- Employee Details ---
ID         NAME            AGE   DEPARTMENT      SALARY
------------------------------------------------------------
100        ABC             34    Sales           50000.00
105        XYZ             23    Sales           25000.00
125        EFG             40    Sales           75000.00